cpp(
    libraries( 
        [ all: options( -L ../../../../io/out/darwin-native-x86-64/cxx ) ]
        mudio.${PACKAGE_VERSION}
    )
    sources(
        [ all: options( -std=c++17
                        -I.
                        -I../../../../core/include
                        -I../../../../io/include) ]
    )
)
# vi: set ai ts=4 expandtab: 
