cpp(
    libraries( 
        [ all: -L ../core/out/darwin-native-x86-64/cxx ]
    )
    sources(
        [ all: -std=c++17 ]
        src/posix/select_self_pipe.cpp
    )
)
# vi: set ai ts=4 expandtab: 
