cpp(
    libraries(
        [ all: -LIBPATH:../core/out/windows-native-x86-64/cxx ]
        ws2_32
    )
    sources(
        [ all: -std:c++17 -DMUDLIB_EVENT_EXPORTS ]
        src/posix/select_self_socket.cpp
    )
)
# vi: set ai ts=4 expandtab: 
