cpp(
    libraries( 
        [ all:  -LIBPATH:..\..\..\ui\$(CXXOBJDIR)
                -LIBPATH:..\..\..\event\$(CXXOBJDIR)
                -LIBPATH:..\..\..\core\$(CXXOBJDIR) ]
    )
    sources(
        [ all: -std:c++17 ]
    )
    run (
        "SET PATH=$(PATH);..\..\..\core\$(CXXOBJDIR);..\..\..\event\$(CXXOBJDIR);..\..\..\ui\$(CXXOBJDIR)"
    )
)
# vi: set ai ts=4 expandtab: 
