cpp(
    libraries( 
        [ all:  -LIBPATH:../../../ui/$(CXXOBJDIR)
                -LIBPATH:../../../event/$(CXXOBJDIR)
                -LIBPATH:../../../core/$(CXXOBJDIR) ]
    )
    sources(
        [ all: -std:c++17 ]
    )
)
# vi: set ai ts=4 expandtab: 
