version(1.0.0)
project(mudio)
cpp(
    target(shared-library)
    headers(
        include/mud/io.h
        include/mud/io/exception.h
        include/mud/io/ip.h
        include/mud/io/kernel_handle.h
        include/mud/io/kernel_event_loop.h
        include/mud/io/ns.h
        include/mud/io/pipe.h
        include/mud/io/streambuf.h
        include/mud/io/bits/streambuf.tcc
    )
    sources(
        src/exception.cpp
        src/posix/ip.cpp
        src/posix/kernel_handle.cpp
        src/posix/kernel_event_loop.cpp
        src/posix/pipe.cpp
        src/posix/socket.cpp
        src/posix/tcp.cpp
    )
)
# vi: set ai ts=4 expandtab: 
