version(1.0.0)
project(mudevent)
order(mudevent test)
cpp(
    target(shared-library)
    libraries(
        mudcore)
    headers(
        include/mud/event.h
        include/mud/event/event_loop.h
        include/mud/event/ns.h
    )
    sources(
        [ all: -Isrc -Iinclude -I../core/include ]
        src/event.cpp
        src/event_loop.cpp
        src/event_mechanism.cpp
        src/posix/select_mechanism.cpp
    )
)
# vi: set ai ts=4 expandtab: 
