cpp(
    libraries( 
        [ all: -L ../event/$(CXXOBJDIR)
               -L ../core/$(CXXOBJDIR)
               -framework Cocoa ]
    )
    sources(
        [ all: -std=c++17 -x objective-c++ ]
        src/cocoa/application.cpp
        src/cocoa/task.cpp
        src/cocoa/window.cpp
        src/cocoa/cocoa_application.cpp
        src/cocoa/cocoa_handle.cpp
        src/cocoa/cocoa_mechanism.cpp
    )
)
# vi: set ai ts=4 expandtab: 
