cpp(
    libraries( 
        [ all: -L ../event/$(CXXOBJDIR)
               -L ../core/$(CXXOBJDIR)
               -L /opt/X11/lib -lX11 ]
    )
    sources(
        [ all: -std=c++17 -I/opt/X11/include ]
        src/x11/application.cpp
        src/x11/task.cpp
        src/x11/window.cpp
        src/x11/x11_application.cpp
        src/x11/x11_mechanism.cpp
    )
)
# vi: set ai ts=4 expandtab: 
