cpp(
    libraries( 
        [ all: -L ../event/$(CXXOBJDIR)
               -L ../core/$(CXXOBJDIR)
               -framework Cocoa ]
    )
    sources(
        [ all: -std=c++17 ]
        src/cocoa/application.cpp
        src/cocoa/task.cpp
        src/cocoa/window.cpp            [ all: -x objective-c++ ]
        src/cocoa/cocoa_application.cpp [ all: -x objective-c++ ]
        src/cocoa/cocoa_mechanism.cpp   [ all: -x objective-c++ ]
    )
)
# vi: set ai ts=4 expandtab: 
