cpp(
    libraries( 
        [ all: -L ../event/$(CXXOBJDIR)
               -L ../core/$(CXXOBJDIR) ]
        X11 Xft
    )
    sources(
        [ all: -std=c++17 ]
        src/x11/x11_application.cpp
        src/x11/x11_control.cpp
        src/x11/x11_event.cpp
        src/x11/x11_mechanism.cpp
        src/x11/x11_pushbutton.cpp
        src/x11/x11_theme.cpp
        src/x11/x11_window.cpp
        src/x11/task.cpp
    )
)
# vi: set ai ts=4 expandtab: 
