cpp(
    libraries(
        [ all: -LIBPATH:../event/$(CXXOBJDIR)
               -LIBPATH:../core/$(CXXOBJDIR) ]
        user32
    )
    sources(
        [ all: -std:c++17 -DMUDLIB_UI_EXPORTS ]
        src/win32/application.cpp
        src/win32/task.cpp
        src/win32/window.cpp
        src/win32/win32_application.cpp
        src/win32/win32_mechanism.cpp
    )
)
# vi: set ai ts=4 expandtab: 
