cpp(
    libraries(
        [ all: -LIBPATH:..\event\$(CXXOBJDIR)
               -LIBPATH:..\core\$(CXXOBJDIR) ]
        user32 comctl32
    )
    sources(
        [ all: -std:c++17 -DMUDLIB_UI_EXPORTS ]
        src/win32/task.cpp
        src/win32/win32_application.cpp
        src/win32/win32_control.cpp
        src/win32/win32_event.cpp
        src/win32/win32_mechanism.cpp
        src/win32/win32_pushbutton.cpp
        src/win32/win32_window.cpp
    )
)
# vi: set ai ts=4 expandtab: 
