cpp(
    libraries(
        [ all: -LIBPATH:../event/$(CXXOBJDIR)
               -LIBPATH:../core/$(CXXOBJDIR) ]
    )
    sources(
        [ all: -std:c++17 -DMUDLIB_UI_EXPORTS ]
    )
)
# vi: set ai ts=4 expandtab: 
