version(1.0.0)
project(mudxml)
order(mudxml test)
lex(
    sources(src/xml.l)
)
yacc(
    sources(src/xml.y)
)
cpp(
    target(shared-library)
    libraries()
    headers(
        include/mud/xml.h
        include/mud/xml/attribute.h
        include/mud/xml/cdata_section.h
        include/mud/xml/char_data.h
        include/mud/xml/comment.h
        include/mud/xml/declaration.h
        include/mud/xml/document.h
        include/mud/xml/element.h
        include/mud/xml/ns.h
        include/mud/xml/node.h
        include/mud/xml/processing_instruction.h
        include/mud/xml/reader.h
        include/mud/xml/writer.h
    )
    sources(
        [ all: -Iinclude -I../core/include ]
        src/attribute.cpp
        src/cdata_section.cpp
        src/char_data.cpp
        src/comment.cpp
        src/declaration.cpp
        src/document.cpp
        src/element.cpp
        src/processing_instruction.cpp
        src/reader.cpp
        src/writer.cpp
        xml_parser.cpp [ all: -DYYDEBUG ]
        xml_scanner.cpp
    )
)
# vi: set ai ts=4 expandtab: 
