version(1.0.0)
project(mudcore)
order(mudcore test)
cpp(
    target(shared-library)
    headers(
        include/mud/core.h
        include/mud/core/ns.h
        include/mud/core/exception.h
        include/mud/core/handle.h
        include/mud/core/poly_map.h
        include/mud/core/poly_vector.h
        include/mud/core/task.h
    )
    sources(
        [ all: -Iinclude ]
        src/endian.cpp
        src/handle.cpp
    )
)
# vi: set ai ts=4 expandtab: 
