version(1.0.0)
project(mudcore)
cpp(
    target(shared-library)
    headers(
        include/mud/core.h
        include/mud/core/ns.h
        include/mud/core/exception.h
        include/mud/core/handle.h
    )
    sources(
    )
)
# vi: set ai ts=4 expandtab: 
