cpp(
    libraries( 
        [ all: -L ../../io/$(CXXOBJDIR)
               -L ../../event/$(CXXOBJDIR)
               -L ../../core/$(CXXOBJDIR) ]
    )
    sources(
        [ all: -std=c++17 ]
    )
)
# vi: set ai ts=4 expandtab: 
