cpp(
    libraries(
        [ all: -LIBPATH:..\..\io\$(CXXOBJDIR)
               -LIBPATH:..\..\event\$(CXXOBJDIR)
               -LIBPATH:..\..\core\$(CXXOBJDIR) ]
    )
    sources(
        [ all: -std:c++17 -DMUDLIB_HTTPO_EXPORTS ]
    )
)
# vi: set ai ts=4 expandtab: 
