version(1.0.0)
project(mudlib)
tex(
    name(manual)
    target(pdf)
    sources(
        manual.tex
    )
)
tex(
    name(design)
    target(pdf)
    sources(
        design.tex
    )
)
doxygen(
    target(html)
    sources(
        ../core/include
        ../io/include
    )
}
# vi: set ai ts=4 expandtab: 
