cpp(
    libraries( 
        [ all: -L ../event/out/darwin-native-x86-64/cxx
               -L ../core/out/darwin-native-x86-64/cxx ]
    )
    sources(
        [ all: -std=c++17 ]
        src/posix/pipe.cpp
        src/posix/socket.cpp
    )
)
# vi: set ai ts=4 expandtab: 
