cpp(
    libraries( 
        [ all: -L ../event/$(CXXOBJDIR)
               -L ../core/$(CXXOBJDIR) ]
    )
    sources(
        [ all: -std=c++17 ]
        src/posix/pipe.cpp
        src/posix/socket.cpp
    )
)
# vi: set ai ts=4 expandtab: 
