cpp(
    libraries(
        [ all: -LIBPATH:../event/out/windows-native-x86-64/cxx
               -LIBPATH:../core/out/windows-native-x86-64/cxx ]
        ws2_32
    )
    sources(
        [ all: -std:c++17 -DMUDLIB_IO_EXPORTS ]
        src/windows/socket.cpp
    )
)
# vi: set ai ts=4 expandtab: 
