cpp(
    sources(
        [ all: -std=c++17 ]
        # Choose either slect_socket or select_pipe:
        # src/posix/select_socket.cpp
        src/posix/select_pipe.cpp
    )
)
# vi: set ai ts=4 expandtab: 
