cpp(
    libraries(
        ws2_32 kernel32
    )
    sources(
        [ all: -std:c++17 -DMUDLIB_CORE_EXPORTS ]
        src/posix/select_socket.cpp
        src/win32/win32_handle.cpp
    )
)
# vi: set ai ts=4 expandtab: 
