version(1.0.0)
project(mudhtml)
order(mudhtml test)
lex(
    sources(src/html.l)
)
yacc(
    sources(src/html.y)
)
cpp(
    target(shared-library)
    libraries()
    headers(
        include/mud/html.h
        include/mud/html/attribute.h
        include/mud/html/cdata_section.h
        include/mud/html/char_data.h
        include/mud/html/char_reference.h
        include/mud/html/comment.h
        include/mud/html/declaration.h
        include/mud/html/document.h
        include/mud/html/element.h
        include/mud/html/node.h
        include/mud/html/ns.h
        include/mud/html/processing_instruction.h
        include/mud/html/raw_data.h
        include/mud/html/reader.h
        include/mud/html/writer.h
    )
    sources(
        [ all: -Iinclude -I../core/include -I../html/include ]
        src/attribute.cpp
        src/cdata_section.cpp
        src/char_data.cpp
        src/char_reference.cpp
        src/comment.cpp
        src/declaration.cpp
        src/document.cpp
        src/element.cpp
        src/entities.cpp
        src/entities_scanner_table.cpp
        src/processing_instruction.cpp
        src/raw_data.cpp
        src/reader.cpp
        src/writer.cpp
        html_parser.cpp [ all: -DYYDEBUG ]
        html_scanner.cpp
    )
)
# vi: set ai ts=4 expandtab: 
