cpp(
    libraries( 
        [ all:  -L ../../core/$(CXXOBJDIR)
                -L ../../xml/$(CXXOBJDIR) ]
    )
    sources(
        [ all: -std=c++17 ]
    )
    run(
        "DYLD_LIBRARY_PATH=../../core/$(CXXOBJDIR):../../xml/$(CXXOBJDIR)"
    )
)
# vi: set ai ts=4 expandtab: 
