cpp(
    libraries( 
        [ all: -L ../../../../protocols/http/$(CXXOBJDIR)
               -L ../../../../io/$(CXXOBJDIR)
               -L ../../../../event/$(CXXOBJDIR)
               -L ../../../../core/$(CXXOBJDIR) ]
    )
    sources(
        [ all: -std=c++17 ]
    )
    run(
        "DYLD_LIBRARY_PATH=../../../../protocols/http/$(CXXOBJDIR):../../../../core/$(CXXOBJDIR):../../../../event/$(CXXOBJDIR):../../../../io/$(CXXOBJDIR)"
    )
)
# vi: set ai ts=4 expandtab: 
