cpp(
    libraries( 
        [ all:  -LIBPATH:..\..\..\..\protocols\http\$(CXXOBJDIR)
                -LIBPATH:..\..\..\..\io\$(CXXOBJDIR)
                -LIBPATH:..\..\..\..\event\$(CXXOBJDIR)
                -LIBPATH:..\..\..\..\core\$(CXXOBJDIR) ]
    )
    sources(
        [ all: -std:c++17 ]
    )
    run(
        "SET PATH=$(PATH);..\..\..\..\protocols\http\$(CXXOBJDIR);..\..\..\..\core\$(CXXOBJDIR);..\..\..\..\event\$(CXXOBJDIR);..\..\..\..\io\$(CXXOBJDIR)"
    )
)
# vi: set ai ts=4 expandtab: 
