version(1.0.0)
project(mudhttp)
order(mudhttp test)
cpp(
    target(shared-library)
    libraries(
        mudcore mudevent mudio
    )
    headers(
        include/mud/ns.h
        include/mud/http.h
        include/mud/http/message.h
        include/mud/http/server.h
    )
    sources(
        [ all: -Iinclude -I../../io/include -I../../event/include
               -I../../core/include ]
        src/message.cpp
        src/message_deserialise.cpp
        src/message_serialise.cpp
        src/server.cpp
    )
)
# vi: set ai ts=4 expandtab: 
