version(1.0.0)
project(mudui)
order(mudui test)
cpp(
    target(shared-library)
    libraries(
        mudcore
        mudevent)
    headers(
        include/mud/ui.h
        include/mud/ui/ns.h
        include/mud/ui/application.h
        include/mud/ui/exception.h
        include/mud/ui/task.h
    )
    sources(
        [ all: -Isrc -Iinclude -I../core/include -I../event/include ]
        src/application.cpp
        src/control.cpp
        src/event.cpp
        src/pushbutton.cpp
        src/window.cpp
    )
)
# vi: set ai ts=4 expandtab: 
